# Supabase Configuration
SUPABASE_URL=https://qnudbyhnqtsxlqwgkmal.supabase.co
SUPABASE_KEY=sb_publishable_AMo1o9yvNV-p_qSE2j5Ztw_7CM1oYeL

# Mercado Pago Configuration (TEST environment)
MP_PUBLIC_KEY=TEST-e57f78e6-3ef2-4341-b69f-bcc7701d100a

# Melhor Envio Configuration
MELHOR_ENVIO_TOKEN=your_melhor_envio_token_here
MELHOR_ENVIO_FROM_CEP=32600-325
